<div class="container">
    <div class="title">เพิ่มหนังสือ</div>
    <form action="#">
        <div class="searchbox">
            <div class="inputbox">
                <span class="details">ชื่อ</span>
                <input type="text">
            </div>
            <div class="inputbox">
                <span class="details">หมวดหมู่</span>
                <input type="text">
            </div>
            <div class="inputbox">
                <span class="details">ผู้แต่ง</span>
                <input type="text">
            </div>
            <div class="inputbox">
                <span class="details">ราคา</span>
                <input type="text">
            </div>
            <div class="inputbox">
                <span class="details">ผู้ยืม</span>
                <input type="text">
            </div>
            <div class="inputbox">
                <span class="details">วันที่ยืม</span>
                <input type="text">
            </div>
        </div>
    </form>
    <div class="footer">
        <button type="button" class="searchbtn">เพิ่ม</button>
        <button type="button" class="cancelbtn" routerLink="">ยกเลิก</button>
    </div>
</div>
