.container{
    margin: auto;
    margin-top: 10%;
    max-width: 600px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    border: solid 2px black;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: left;
    padding: 0 0 20px 0;
}
.container form .searchbox{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .searchbox .inputbox{
    width: calc(100%/2 - 30px);
    margin-bottom: 20px;
}
.inputbox input{
    width: 100%;
}
.container .footer{
    position: relative;
    margin-bottom: 20px;
}
.container .footer .searchbtn{
    position: absolute;
    left: 30%;
    width: 15%;
    border-radius: 5px;
    color: #D8E8F7;
    background-color: #717A83
}
.container .footer .cancelbtn{
    position: absolute;
    right: 30%;
    width: 15%;
    border-radius: 5px;
    color: #D8E8F7;
    background-color: #717A83
}
.footbtn{
    position: relative;
}
.footbtn .more{
    position: absolute;
    margin-top: 20px;
    right: 10px;
    width: 15%;
    border-radius: 5px;
    color: #D8E8F7;
    background-color: #717A83
}




table{
    margin-top: 70px;
    margin-left: auto;
    max-width: 700px;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
}
thead th{
    text-align: center;
}
th,tr td{
    padding: 8px;
}