
.container{
    position: static;
    margin: 100px auto auto;
    border: solid 2px black;
    border-radius: 20px;
    max-width: 700px;
}

.title{
    position: relative;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.container form .searchbox{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .searchbox .inputbox{
    width: calc(100%/2 - 30px);
    margin-bottom: 20px;
}
.inputbox input{
    width: 100%;
}

.container .footer{
    position: relative;
    margin-bottom: 40px;
}
.container .footer .searchbtn{
    position: absolute;
    left: 30%;
    width: 15%;
    border-radius: 5px;
    color: #D8E8F7;
    background-color: #717A83
}
.container .footer .cancelbtn{
    position: absolute;
    right: 30%;
    width: 15%;
    border-radius: 5px;
    color: #D8E8F7;
    background-color: #717A83
}
.footbtn{
    position: static;
    margin: auto;
    max-width: 700px;
}
.footbtn .more{
    position: relative;
    margin-top: 30px;
    margin-left: 84%;
    width: 15%;
    border-radius: 5px;
    color: #D8E8F7;
    background-color: #717A83
}


table{
    position: static;
    margin: 50px auto 150px;
    max-width: 1000px;
}
table,th,td{
    border: solid 1px black;  
    border-collapse: collapse;
}
thead th,#number{
    text-align: center;
}
th,tr td{
    padding: 8px;
}
